<!doctype html>
<html>
    <head>
        <title>Welcome to SwitchCent</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
    </head>
    <body>
        <main>
            <h1>Welcome to SwitchCent</h1>
            <h2>Pick your base currency and an amount below:</h2>
            <div id="converter">
                <p>
                    <label>
                        Base Currency:
                        <select id="base-currency" v-on:change="calculateValue">
                            <option v-for="name in Object.keys(rates)" v-bind:value="name">
                                {{ name }}
                            </option>
                        </select>
                    </label>
                </p>
                <p>
                    <label>
                        Amount
                        <input type="number" step="0.01" min="0" name="amount" id="amount" v-on:input="calculateValue">
                    </label>
                </p>
                <p>
                    <label>
                        Target Currency:
                        <select id="target-currency" v-on:change="calculateValue">
                            <option v-for="name in Object.keys(rates)" v-bind:value="name">
                                {{ name }}
                            </option>
                        </select>
                    </label>
                </p>
                <p v-if="amountValue">The value is {{ amountValue }}</p>
            </div>
        </main>
    </body>
</html>