/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@font-face {
  font-family: 'Alegreya Sans';
  src: url("../fonts/AlegreyaSans-Regular.ttf") format("truetype");
}
/* line 3, ../sass/layouts/main.scss */
html {
  font-size: 22px;
  font-family: "Alegreya Sans", sans-serif;
}
